.login__label {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 20px;

  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
}

.login__label:first-child {
  margin-top: 0;
}
